
body {
   
    margin: 0px;
    padding: 0px;
    background-color: #e7f0e6;

  }
  
  h1 {
    color: #0a0a0a;
  }
  
  p {
    color: #666;
    line-height: 1.8;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .section {
    margin-bottom: 30px;
  }
  
  .section h2 {
    color: #555;
  }