*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
   
}
.img5{
  position: relative;
  top: 10px;
  left: -300px;
  width:40px;
  height: 40px;
  border-radius: 10px;
}
nav{
    width:100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
   
    background-image: linear-gradient(rgb(10, 10, 10),rgb(40, 8, 100)); 
}
div.logos p{
   font-size:30px;
   font-weight:bold;
   float: left;
   color: aliceblue;
   text-transform: uppercase;
   letter-spacing: 1.5px; 
   cursor:pointer;
}
nav ul{

    float:right;
}
nav li{
    display:inline-block;
    list-style: name;
   
}
nav li a{
     font-size: 18px;
     text-transform: uppercase;
     padding: 0px 30px;
     color: antiquewhite;
     
    
}
nav li a:hover{
  background-color: rgb(228, 14, 14);
  border-radius: 10px;
}
/*--------------------------------------Header------------------------------------------*/

html{
    font-size: 62.5%;
    overflow-x:hidden ;
}

.cont{
    max-width: 1200px;
    padding: 2rem;
    margin: 0 auto;
} 
.admin-product-form-cont form{
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
    background:var(--bg-color);

}




/*-----------------------------------------footer-------------------------------------------*/
body{
    background: #eef8ff;
  }
  footer{
    width:100%;
    
    position: relative;
    top:700px;
    background: linear-gradient(to right,#00093c,#2d0b00);
    color: #fff;
    padding:10px 0 5px;
    border-top-left-radius: 120px;
    font-size: 13px;
    line-height: 10px;
  }
  .row{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
   
  }
  .col{
    flex-basis: 20%;
    padding: 1px;
   
  }
  .logo{
    position: relative;
    width: 80px;
    height: 100px;
    margin-bottom: 3px;
    border-radius: 15px;
  }
  .col h3{
    width: fit-content;
    margin-bottom: 50px;
    position: relative;
    left: -30px;
    margin: 30px;
    text-transform: none;
  }
  .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
  }
  .a{
    list-style: none;
    margin-left: -0%;
    margin-top: 6px;
  }
  ul li a{
    text-decoration: none;
    color: #fff;
  }
  .fo{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
  }
  .fo input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
  
  }
  .fo button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  .b2{
      position: relative;
     
      margin: 5px;
      background: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
  }
  .img1{
    width:30px;
    height: 30px;
    position: relative;
    top:-25px;
  }
  .go{
    width: 20px;
    height: 20px;
  }
  .emailbtn{
    width:25px;
    height: 25px;
    position: relative;
    top: 40px;
    right: 20px;
  }
  .hr2{
    border-bottom: 1px solid #ccc;
    position: relative;
    top:-20px;
  }
  .p2{
    text-align: center;
  }
  .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
  }
  .underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    position: absolute;
    border-radius: 3px;
    top:0;
    left:10px;
    animation: moving 2s linear infinite;
  
  }
  @keyframes moving{
     0%{
         left:-20px;
    }
    100%{
      left:100%;
    }
  }
